<app-header titulo="action Sheet">

</app-header>
<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input placeholder=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Formulario Valido:</ion-label>
            <ion-input type="boolean" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input type="email" placeholder="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password:</ion-label>
            <ion-input type="password" placeHolder="Contraseña" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-button>Login</ion-button>
        </ion-item>
    </ion-list>

</ion-content>